{
    "extends": "airbnb",
    "env": {
        "node": true
    },
    "globals": {},
    "rules": {
        "comma-dangle": 2,
        "indent": [2, 4, {"SwitchCase": 0}],
        "block-scoped-var": 0,
        "padded-blocks": 0,
        "no-eval": 0
    },
    "parserOptions": {},
    "plugins": []
}
